<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meiji.daily">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.postslist.PostsListView"
            android:label="专栏"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.postscontent.PostsContentView"
            android:label="文章"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="添加专栏"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>